<div class="container">
  <h1>{{name}} details</h1>
  <hr>

  <div class="row">
    <div class="col-8">
      <h3>Details</h3>
      <p>Description: {{description}}</p>
      <p>Image: {{imageUrl}}</p>
      <p>Owner: {{owner}}</p>
      <p>Reviews: {{reviews}}</p>
    </div>
  </div>

  <hr>
  <a href="/rooms">Go back to list</a>

</div>